<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="api_rule" stopProcessing="true">
          <match url="api/(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="api/(.*)"/>
          </conditions>
          <action type="Rewrite" url="https://github.com/{R:1}" logRewrittenUrl="true"/>
        </rule>
        <rule name="proxy_rule" stopProcessing="true">
          <match url="proxy/(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="proxy/(.*)"/>
          </conditions>
          <action type="Rewrite" url="https://npmjs.com/{R:1}" logRewrittenUrl="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>